@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

html {
    background-image: linear-gradient(-45deg, #dfe9f3 0%, white 90%);
}

html.dark {
    background: linear-gradient(to bottom, #323232 0%, #272727 40%, #1C1C1C 150%),
                linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

html.dark {
    --w-e-textarea-bg-color: #1e1e1e;
    --w-e-textarea-color: #e5e5e5;
    --w-e-textarea-border-color: #3c3c3c;
    --w-e-textarea-slight-border-color: #2a2a2a;
    --w-e-textarea-slight-color: #888;
    --w-e-textarea-slight-bg-color: #252526;
    --w-e-textarea-selected-border-color: #6aa9ff;
    --w-e-textarea-handler-bg-color: #2780f8;

    /* toolbar */
    --w-e-toolbar-color: #d1d1d1;
    --w-e-toolbar-bg-color: #1f1f1f;
    --w-e-toolbar-active-color: #fff;
    --w-e-toolbar-active-bg-color: #2b2b2b;
    --w-e-toolbar-disabled-color: #555;
    --w-e-toolbar-border-color: #3a3a3a;

    /* modal */
    --w-e-modal-button-bg-color: #2f2f2f;
    --w-e-modal-button-border-color: #444;
}